html{
	font-size: 16px;
	background-color: #E6FEFA;
}

.background{
	background-color: #07EAE7;	
}

.flex{
	display: flex;
}

.desktop-header{
	display: flex;
	border-bottom: 1px solid #07EAE7;
	justify-content: space-between;
	width: 100%;
	height: 4rem;
	border-bottom-left-radius: 2.5rem;
	border-bottom-right-radius: 2.5rem;
}

.mobile, .mobile-header{
	display: none;
}

.main-wrapper{
	width: 80%;
	margin: auto;
}


#logo{
	margin: auto auto auto 1.5rem;
	width: 2rem;
}

#name{
	margin: auto;
	font-size: 1.5rem;
	font-weight: 900;
	letter-spacing: 5px;
	align-self: center;
	font-family: 'Exo 2', 'Lato', cursive;	
}

#name2{
	color: #07EAE7;
}

nav{
	margin: auto 1.5rem;
}

li{
	list-style: none;
	display: inline;
	margin-left: 1rem;
	font-family: Roboto Slab, sans-serif;
}

.image-wrapper{
	width: 60%;
	padding: 2rem 1.5rem;
}

.right-side{
	flex-direction: column;
	width: 40%;
	padding-top: 1rem;
}

#third-right .academy{
	border: hidden;
}

#first-right {
	margin: auto;
}	
	
.motto{
	margin: 2rem 0 1.5rem;
	font-size: 2.5rem;
	font-weight: 600;
}

.info{
	font-family: 'Lato', cursive;
	font-size: 1.3rem;
	width: 70%;
}

.curriculum{
	padding: 1rem 0;	
}

#quote{
	width: 100%;
	margin-bottom: 1.5rem;
}

#signature{
	font-size: 0.9rem;
}

#start-btn{
	font-size: 1rem;
	width: 70%;
	margin: 2rem 0;
	border-radius: 20px;
	color: #fff;
	background-color: #0EA78D;
	padding: 0.8rem;
}

.academy{
	flex-direction: row;
	border-left: 1px solid cadetblue;
}

.borders{
	border-top: 1px solid cadetblue;
	border-bottom: 1px solid cadetblue;
}

.large-image{
	width: 100%;
}

.banner{
	margin-bottom: 1rem;
}

.mobile-show{
	display: none;
}

.small{
	width: 35%;
	height: auto;
	padding: 1rem;
}

.small-image{
	width: 100%;
}

.academy:hover{
	background-color: #07EAE7;
	cursor: pointer;
}

.description{
	flex-direction: column;
	margin: auto 1rem auto 0;
}

.academy .description{
	width: 65%;
}

.course .descritpion{
	width: 100%;
}

.topic{
	display: block;
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 0.9rem;
}

.description p, a{
	font-size: 0.9rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	font-family: Roboto Slab, sans-serif;
}

.course .description{
	padding-left: 1rem;
	line-height: 1.6rem;
}

.links{
	text-decoration: none;
	color: #044af9;
}

#thesis, #learning{
	text-align: center;
}

.all-courses{
	justify-content: space-around;
	margin: 0 3.5rem;
}

.course{
  width: calc(100% / 3);
	height: auto;
	margin: 1rem;
	background-color: #fff;
}

.course img{
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
}


.courses{
	margin: 2rem 0;
	font-weight: 500;
	color: #092044;
}

video{
	width: 100%;
}


footer{
	border-top: 1px solid cadetblue;
	padding: 2rem 1.5rem;
	justify-content: space-between;
	border-top-left-radius: 2.5rem;
	border-top-right-radius: 2.5rem;
}

.arrow{
	width: 1.5rem;
	height: auto;
	position: fixed;
	right: 2rem;
}

#up-arrow{
	bottom: 8rem;
}

#down-arrow{
	bottom: 6.5rem;
}

#copyright{
	font-family: Roboto, sans-serif;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 736px) {
	
	.mobile{
		display: flex;
		justify-content: space-between;
		height: 4rem;
	}
	
	#start-btn{
		width: 90%;
	}
	
	.banner{
		flex-direction: column;
		width: 100%;
	}
	
	.main-wrapper{
		width: 100%;
		margin: 0;
	}
	
	.image-wrapper{
		width: 100%;
		padding:0;
	}
	
	.curriculum{
		background: #E6FEFA;
	}
	
 .mobile-show{
		display: block;
	}
	
	.mobile-show .course{
		padding: 1rem 0 1.5rem 1rem;
		margin: 0.5rem auto;
		width: 80%;
		font-weight: 700;
		font-size: 1.5rem;
		background: #07EAE7;
	}
	
	.right-side{
		width: 100%;
	}
	
	.mobile-hide{
		display:none;
	}
	
	.academy{
		flex-direction: column;
		margin: 1rem;
	}
	
	.academy:hover{		
		background-color: #E6FEFA;
	}
	
	.academy .description{
		width: 100%;
		font-size: 2rem;
	}
	
	.small{
		width: 100%;
		padding: 0;
	}
	
	#info-campus{
    content:url("../images/information-campus-mobile.jpg");
  }
	
	#info-guest{
    content:url("../images/information-guest-lecture-mobile.jpg");
  }
	
	#info-orientation{
    content:url("../images/information-orientation-mobile.jpg");
  }
	
	#second-right{
	border-bottom: 1px solid #07EAE7;
	}
	
	#first-right{
	margin: 0 1rem;
	}
	
	.academy, .borders{
		border: hidden;
	}
}

@media only screen and (max-width : 800px) {
	html{
		font-size: 12px;
	}
}